*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1310px;
}

.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
}

.header_logo_img{
    width: 235px;
    height: 25px;
}

.header_list{
    display: flex;
    justify-content: space-between;
}

.header_list_link{
    display: flex;
}


.header_item_link{
    margin-left: 32px;
}

.header_link{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;   
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.hero_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1280px;
    height: 600px;
    background-image: url(./../img/Bitmap.png);
    margin-top: 40px;
}

.hero_inner_wrapper{
    width: 493px;
    margin-left: 85px;
}

.hero_hiddin{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero_text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 32px;
    margin-bottom: 56px;
}

.hero_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 56px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
}


.hero_link:hover{
    background-color: #333D4B;
}

.hero_link:active{
    background-color: #FDD6BA;
}

.our_collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./../img/background_collection.png);
    background-repeat: no-repeat;
    background-position: calc(50% - -1px) calc(50% - 164px);
    margin-bottom: 200px;
    margin-top: 150px;
}

.our_img{
    width: 255px;
    height: 193px;
    margin-bottom: 71px;
}

.collection_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1111px;
}

.our_list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;

}

.our_item{
    display: flex;
    flex-direction: column;
    width: 255px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
    padding-top: 100px;
}

.our_hoiddin{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    text-align: center;
    color: #333D4B;
}

.our_text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;  
    color: #333D4B;
}

.best_wrapper{
    margin: 1280px;
    padding: 800px;
}
